.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/GG_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.container h1{
    /* font-family: 'Bebas Neue', cursive; */
    text-align: end;
    font-family: 'Pattaya', sans-serif;
    vertical-align: middle;
    font-size: 8em;
    color: white;
}

.container h1 a{
    text-decoration: none;
    color: darkviolet;
}

.container a{
    text-decoration: none;
}

.container p{
    object-position: 600px 30px;
}

.fa-github{
    color: #1b1817ff;
}

.pointing{
    position: fixed;
    width: 30%;
    height: auto;
    bottom: 0;
    right: 0;
}