.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/SMILEW.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}